.remote-layout {
     max-width: 400px;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 25px;
}

.remote-dpad-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
}

.remote-standard-btns {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 15px;
}

.remote-media-btns {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 10px;
     align-items: center;
}

.remote-text-input {
     display: flex;
     gap: 10px;
}

.remote-btn {
     flex-direction: column;
     padding: 15px 10px;
}

.remote-btn i {
     font-size: 18px;
     margin-bottom: 5px;
}

#remote-dpad-center {
     background-color: var(--red);
}